---
layout: homepage
---


{% for item in site.fp-collection %}
<article {% if item.color %}style="border: 1px dashed black;"{% endif %} class="grid-item">
    <h2>{{ item.title }}</h2>
    <p>{{ item.description }}</p>

      {% if item.external-link %}<a class="permalink" target="_blank" href="{{ item.external-link }}">
      {% else if item.call-to-action %}<a class="permalink" href="{{ item.url | prepend: site.baseurl }}">{% endif %}
    {% if item.thumbnail %}<p><img draggable="false" alt="thumbnail" src="{{ site.baseurl }}/img/{{ item.thumbnail }}"></p>{% endif %}
  </a>
    {% if item.external-link %}<a class="more" target="_blank" href="{{ item.external-link }}">{{ item.call-to-action }}<span>→</span></a>
    {% else if item.call-to-action %}<a class="more" href="{{ item.url | prepend: site.baseurl }}">{{ item.call-to-action }}<span>→</span></a>{% endif %}
</article>
{% endfor %}
