<header class="clearfix">
  <div class="title">
    <h1 ><a style="color: rgba(255, 50, 0, 1);"  href="{{ site.baseurl }}/">Stijn van Cuijk</a></h1>
    <!-- <img style="width: 320px; float: right; margin-top: 5px;" src="src/header-img.png"> -->
  </div>
  <div class="description">
    <p>This is the personal website of Stijn van Cuijk. A designer currently
      studying Industrial Product Design at the <em title="HAN University of Applied Sciences">HAN</em>. Stijn likes to practice
      his design approach in many different fields. The main focus lies on
      the process and a way of thinking. Everything can be designed.</p>
      <p>Currently enrolled in <a href="http://codesignstudio.strikingly.com/">Co-Design Studio</a>, a
        full-time minor in human centered design, working for real clients with
        coaching by experienced design professionals.</p>
  </div>
  <div class="contact">
    <p>
      Arnhem, Netherlands<br>
      <a href="mailto:hello@stijn.vc">hello@stijn.vc</a><br>
      <a target="_blank" href="https://www.linkedin.com/in/stijnvancuijk/">LinkedIn</a><br>
      <a target="_blank" href="https://www.behance.net/stijnvc">Behance</a><br>
    </p>
  </div>
</header>
