<header class="clearfix">
  <div class="title">
    <h1><a href="{{ site.baseurl }}/">Stijn van Cuijk</a></h1>
    <!-- <img style="width: 320px; float: right; margin-top: 5px;" src="src/header-img.png"> -->
  </div>
  <div class="description">
    <p>This is the personal website of Stijn van Cuijk. A designer currently
      studying Industrial Product Design at the <em title="HAN University of Applied Sciences">HAN</em>. Stijn likes to practice
      his design approach in many different fields. The main focus lays on
      the process and a way of thinking. Everything can be designed.</p>
  </div>
  <div class="contact">
    <p>
      Arnhem, Netherlands<br>
      <a href="mailto:hello@stijn.vc">hello@stijn.vc</a><br>
      <a href="https://www.linkedin.com/in/stijnvancuijk/">LinkedIn</a><br>
    </p>
  </div>
</header>
<hr>
