{% include head.html %}
<body id="homepage">
{% include header-homepage.html %}

<div id="main">
  <div class="grid">
    <div class="grid-sizer"></div>
    <article class="grid-item">
      <img draggable="false" alt="Yours truly" title="Yours truly" src="{{ site.baseurl }}/img/profile.jpg">
    </article>
    <article class="grid-item">
      <h2>Current Occupation</h2>
      <p><a href="http://codesignstudio.strikingly.com/">Co-Design Studio</a>, a full-time minor in human centered design, working for real clients with coaching of experienced design professionals.</p>
    </article>
    <!-- <article class="grid-item">
      <h2>Download Curriculum Vitae</h2>
      <p>Last updated: {{ site.cv.last-updated }}</p>
      <a href="{{ site.cv.download-url }}" class="download-button">PDF, {{ site.cv.size }} MB</a>
    </article> -->
{{ content }}
</div>
</div>

{% include footer.html %}
